Identitas Diri     
Nama : Aditya Herdiansyah Putra     
NIM  : A11.2021.13948

In [ ]:
# Mengimpor library yang diperlukan 
import numpy as np
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [30]:
#Meload dan mengeksport data
#Menginput data
data = pd.read_csv("Customers.csv")
data.head()

,CustomerID,Gender,Age,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [31]:
# mengeksplore kolom data
data.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual_Income', 'Spending_Score',
       'Profession', 'Work_Experience', 'Family_Size'],
      dtype='object')

In [32]:
# mengeksplore macam macam profesi
data.Profession.unique()

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing', nan], dtype=object)

In [35]:
#Memisahkan data sesuai dengan profesi
#profesi tersebut adalah artist
Artist = (data[data['Profession'] == "Artist"]
                 .groupby(['Age', 'Spending_Score'])['Profession']
                 .count().unstack().reset_index().fillna(0)
                 .set_index('Age'))

#profesi tersebut adalah Marketing
Marketing = (data[data['Profession'] == "Marketing"]
                 .groupby(['Age', 'Spending_Score'])['Profession']
                 .count().unstack().reset_index().fillna(0)
                 .set_index('Age'))

#profesi tersebut adalah Lawyer
Lawyer = (data[data['Profession'] == "Lawyer"]
                 .groupby(['Age', 'Spending_Score'])['Profession']
                 .count().unstack().reset_index().fillna(0)
                 .set_index('Age'))

#profesi tersebut adalah Doctor
Doctor = (data[data['Profession'] == "Doctor"]
                 .groupby(['Age', 'Spending_Score'])['Profession']
                 .count().unstack().reset_index().fillna(0)
                 .set_index('Age'))
Doctor

Spending_Score,1,3,4,5,6,7,8,9,10,11,...,89,92,93,94,95,96,97,98,99,100
Age,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
# pengkodean data dengan "hot encoding"
# mendefinisikan fungsi "hot encoding" untuk membuat data sesuai untuk library yang bersangkutan 

def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1

In [38]:
# mengkode dataset
prof_encoded = Artist.applymap(hot_encode)
Artist = prof_encoded

prof_encoded = Marketing.applymap(hot_encode)
Marketing = prof_encoded

prof_encoded = Lawyer.applymap(hot_encode)
Lawyer = prof_encoded

prof_encoded = Doctor.applymap(hot_encode)
Doctor = prof_encoded

Artist

Spending_Score,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Age,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
# memebangun model dan menganalisis
# 1) Artist 
# membangun model 
frq_items = apriori(Artist, min_support= 0.005, use_colnames= True)

#Mengumpulkan aturan yang disimpulkan dalam dataframe
rules = association_rules(frq_items, metric="lift", min_threshold= 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
print(rules.head())

C:\Users\ACER\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     antecedents consequents  antecedent support  consequent support  \
2916     (1, 18)        (29)            0.010101            0.010101
2921        (29)     (1, 18)            0.010101            0.010101
2947     (1, 41)        (29)            0.010101            0.010101
2950        (29)     (1, 41)            0.010101            0.010101
2952     (1, 74)        (29)            0.010101            0.010101

       support  confidence  lift  leverage  conviction  zhangs_metric
2916  0.010101         1.0  99.0  0.009999         inf            1.0
2921  0.010101         1.0  99.0  0.009999         inf            1.0
2947  0.010101         1.0  99.0  0.009999         inf            1.0
2950  0.010101         1.0  99.0  0.009999         inf            1.0
2952  0.010101         1.0  99.0  0.009999         inf            1.0

In [41]:
# 2) Marketing 
# membangun model 
frq_items = apriori(Marketing, min_support= 0.005, use_colnames= True)

#Mengumpulkan aturan yang disimpulkan dalam dataframe
rules = association_rules(frq_items, metric="lift", min_threshold= 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head()

C:\Users\ACER\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4,(22),(7),0.016949,0.016949,0.016949,1.0,59.0,0.016662,inf,1.0
5,(7),(22),0.016949,0.016949,0.016949,1.0,59.0,0.016662,inf,1.0
6,(28),(7),0.016949,0.016949,0.016949,1.0,59.0,0.016662,inf,1.0
7,(7),(28),0.016949,0.016949,0.016949,1.0,59.0,0.016662,inf,1.0
8,(64),(7),0.016949,0.016949,0.016949,1.0,59.0,0.016662,inf,1.0

In [46]:
# 3) Lawyer 
# membangun model 
frq_items = apriori(Lawyer, min_support= 0.005, use_colnames= True)

#Mengumpulkan aturan yang disimpulkan dalam dataframe
rules = association_rules(frq_items, metric="lift", min_threshold= 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head(10)

C:\Users\ACER\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
46,(16),(86),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
47,(86),(16),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
182,(80),(82),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
183,(82),(80),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
187,"(1, 51)",(75),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
190,(75),"(1, 51)",0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
194,"(66, 46)",(2),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
195,(2),"(66, 46)",0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
200,"(4, 78)",(64),0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0
201,(64),"(4, 78)",0.012658,0.012658,0.012658,1.0,79.0,0.012498,inf,1.0

In [47]:
# 4) Doctor
# membangun model 
frq_items = apriori(Doctor, min_support= 0.005, use_colnames= True)

#Mengumpulkan aturan yang disimpulkan dalam dataframe
rules = association_rules(frq_items, metric="lift", min_threshold= 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules.head(3)

C:\Users\ACER\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(1),(82),0.013158,0.013158,0.013158,1.0,76.0,0.012985,inf,1.0
1,(82),(1),0.013158,0.013158,0.013158,1.0,76.0,0.012985,inf,1.0
8,(3),(62),0.013158,0.013158,0.013158,1.0,76.0,0.012985,inf,1.0